@import url(reset.css);
@import url(header.css);
@import url(weather.css);

[class*=__container] {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

html,
body {
	height: 100%;
}

body {
    font-family: 'Roboto';
    color: #fff;
    background: linear-gradient(120deg, #142850, #14365f, #13476f, #125d80, #107792, #0d96a5, #09b8b4, #04ccb1);
}

body.__lock {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}


